.hero {
  text-align: center;
  padding: 4em 0;
}
.hero-image {
  max-width: 100%;
}
.hero-buttons {
  padding-top: 1.1em;
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
    padding: 1em 0;
  }
  .hero-grid {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-areas: 'content  image';
    align-items: center;
  }
  .hero-image-container {
    grid-area: image;
    position: relative;
    top: 50px;
    text-align: center;
  }
  .hero-content {
    grid-area: content;
  }
}
.menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(47,53,79,0.9);
  height: 100vh;
}
.menu ul {
  padding: 0;
  list-style: none;
}
.menu li {
  border-top: 1px solid var(--grayishBlue);
}
.menu li:last-child a {
  border: 2px solid #fff;
  margin-top: 1em;
  border-radius: 5px;
  padding: 0.7em;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
  font-size: 18px;
}
.menu-open {
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked ~ .header {
  background: rgba(47,53,79,0.9);
}
.menu-checkbox:checked ~ .header .menu-open {
  background-image: url("../images/icon-close.svg") !important;
}
.menu-checkbox:checked ~ .header .header-logo {
  background-image: url("../images/logo-bookmark-white.svg") !important;
}
.menu-checkbox:checked ~ .header .menu {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    visibility: visible;
    opacity: 1;
    position: initial;
    height: auto;
    background: initial;
  }
  .menu-open {
    display: none;
  }
  .menu a {
    color: var(--veryDarkBlue);
    border: none;
    font-size: 1em;
  }
  .menu ul {
    display: flex;
    align-items: center;
  }
  .menu ul li {
    border: none;
  }
  .menu ul li:last-child {
    margin-left: 2em;
  }
  .menu ul li:last-child a {
    border: none;
    margin-top: 0;
    background: var(--softRed);
    color: #fff;
    padding: 0.7em 2em;
    border-radius: 0.5em;
  }
}
.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0;
}
.header-logo {
  display: inline-flex;
  width: 150px;
  height: 40px;
  background: url("../images/logo-bookmark.svg") no-repeat center;
  background-size: contain;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs {
  margin-top: 2em;
  border-top: 1px solid var(--grayishBlue);
}
.tabs-link {
  border-bottom: 1px solid var(--grayishBlue);
}
.tabs-content {
  display: none;
}
.tabs-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}
.tabs-grid {
  margin-top: 4em;
}
.tabs label {
  padding: 1em 0;
  display: block;
  position: relative;
}
.tabs label:after {
  display: none;
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  height: 5px;
  border-radius: 2.5px;
  background-color: #fa5858;
}
.tabs input[type='radio'] {
  display: none;
}
input[id="bookmarking"]:checked ~ ul [for='bookmarking']:after {
  display: block;
}
input[id="bookmarking"]:checked ~ .tabs-grid #tab-bookmarking {
  display: block;
}
input[id="searching"]:checked ~ ul [for='searching']:after {
  display: block;
}
input[id="searching"]:checked ~ .tabs-grid #tab-searching {
  display: block;
}
input[id="sharing"]:checked ~ ul [for='sharing']:after {
  display: block;
}
input[id="sharing"]:checked ~ .tabs-grid #tab-sharing {
  display: block;
}
.features {
  text-align: center;
  padding: 3em 0;
}
.download {
  text-align: center;
  padding: 3em 0;
}
.download .u-wrapper > .u-p {
  margin-bottom: 3em;
}
.download-grid {
  margin-top: 3em;
  display: grid;
  grid-row-gap: 2em;
}
.download-item {
  border-radius: 1em;
  padding: 1.5em;
  padding-top: 2.5em;
  background: url("../images/bg-dots.svg") repeat-x center bottom 95px;
  box-shadow: 0 10px 11px -5px rgba(83,104,223,0.4);
}
.download-item .u-p {
  margin-top: 0.5em;
  margin-bottom: 4em;
}
.carousel {
  text-align: left;
  margin-bottom: 2.8em;
}
.carousel-content[open] .carousel-header {
  border: none;
}
.carousel-content[open] .carousel-header::-webkit-details-marker {
  color: var(--softRed);
}
.carousel-header {
  padding: 1em 0;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.9em;
}
.carousel-header:focus {
  outline: none;
}
.carousel-header::-webkit-details-marker {
  float: right;
  color: var(--softBlue);
}
.questions {
  text-align: center;
  padding: 3em 0;
}
.join {
  background: var(--softBlue);
  color: #fff;
  padding: 3em 0;
  text-align: center;
}
.join small {
  text-transform: uppercase;
  letter-spacing: 4px;
}
.form .u-button {
  margin: 0;
}
.form-input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  margin-bottom: 1em;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  outline: none;
}
.form-input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}
.footer {
  background: var(--veryDarkBlue);
  text-align: center;
  padding: 3em 0;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer-menu {
  margin-top: 2em;
}
.footer-menu a {
  display: block;
  text-transform: uppercase;
  padding: 1em 0;
  letter-spacing: 1px;
  color: #e5e5e5;
}
.footer-social {
  margin-top: 2em;
}
.footer-social a {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.footer-social .twitter {
  background: url("../images/icon-twitter.svg") center no-repeat;
}
.footer-social .facebook {
  background: url("../images/icon-facebook.svg") center no-repeat;
}
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  color: var(--veryDarkBlue);
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.u-wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 1em;
}
.u-h1,
.u-h2,
.u-h3,
.u-h4 {
  font-size: 2em;
  font-weight: 500;
}
.u-h2,
.u-h3 {
  font-size: 1.5em;
}
.u-h3 {
  margin-button: 0.5rem;
}
.u-h4 {
  font-size: 1.3em;
  margin-top: 0.5em;
}
.u-p {
  color: var(--grayishBlue);
  line-height: 1.8;
  font-size: 0.9em;
}
.u-button {
  background-color: var(--softBlue);
  color: #fff;
  border: none;
  padding: 1em 1em;
  font-size: 0.9em;
  border-radius: 0.5em;
  font-weight: 500;
  margin-left: 1.5em;
  box-shadow: 0 5px 10px -5px var(--softBlue);
  cursor: pointer;
}
.u-button:first-of-type {
  margin: 0;
}
.u-button.is-gray {
  background-color: #f7f7f7;
  color: var(--veryDarkBlue);
}
.u-button.is-red {
  background-color: var(--softRed);
}
.u-button.is-fullWidth {
  width: 100%;
}
.is-hidden {
  display: none;
}
