.download
  border 1px solid #414141
  text-align center
  &-grid
    margin-top 3em
    display grid
    grid-row-gap 2em
  &-item
    border-radius 1em
    padding 1.5em
    background url('../images/bg-dots.svg') repeat-x center bottom 95px
    .u-p
      margin-top 0.5em
      margin-bottom 4em