.footer
  background var(--veryDarkBlue)
  text-align center
  padding 3em 0
  a
    text-decoration none
    color #ffffff
  &-menu
    margin-top 2em
    a
      display block
      text-transform uppercase
      padding 1em 0
      letter-spacing 1px
      color #e5e5e5
  &-social
    margin-top 2em
    a
      width 40px
      height 40px
      display inline-block
    .twitter
      background url('../images/icon-twitter.svg') center no-repeat
    .facebook
      background url('../images/icon-facebook.svg') center no-repeat