.footer
  background var(--veryDarkBlue)
  text-align center
  padding 3em 0
  a
    text-decoration none
    color #ffffff
  &-menu
    margin-top 2em
    a
      display block
      text-transform uppercase
      padding 1em 0
      letter-spacing 1px
      color #e5e5e5
  &-social
    margin-top 2em
    a
      width 40px
      height 40px
      display inline-block
    .twitter
      background url('../images/icon-twitter.svg') center no-repeat
    .facebook
      background url('../images/icon-facebook.svg') center no-repeat

@media screen and (min-width 1024px)
  .footer
    &-content
      display flex
      align-items: center;
    &-primary
      width 50%
      display flex
      align-items: center;
      margin 0
      & > img
        height 30px
        margin-right 10px
    &-menu
      display flex
      margin 0
      a
        padding 0 .7em
    &-social
      margin 0
      width 50%
      display flex
      align-items: center;
      justify-content: flex-end;