.join
  background var(--softBlue)
  color white
  padding 3em 0
  text-align center
  small
    text-transform uppercase
    letter-spacing 4px

.form
  max-width  450px
  margin auto
  & > .u-button
    margin 0
  &-input
    width 100%
    padding 1em
    box-sizing border-box
    margin-bottom 1em
    border none
    border-radius 10px
    font-size 1em
    outline none
    &::-webkit-input-placeholder
      color rgba(0,0,0,.3)

@media screen and (min-width 1024px)
  .form
    display flex
    & > .u-button
      width 30% !important
      height 50px
    &-input
      width 70%
      margin-right 15px
      box-sizing border-box