.menu
  visibility hidden
  opacity 0
  position absolute
  top 100%
  left 0
  right 0
  background rgba(47, 53, 79, .9)
  height 100vh
  ul
    padding 0
    list-style none
  li
    border-top 1px solid var(--grayishBlue)
    &:last-child
      a
        border  2px solid #ffffff
        margin-top 1em
        border-radius 5px
        padding .7em
  a
    color #ffffff
    text-decoration none
    text-transform uppercase
    display block
    text-align center
    padding 1em
    letter-spacing 2px
    font-size 18px

  &-open
    user-select none
    width 40px
    height 40px
    display inline-flex
    cursor pointer
    background url('../images/icon-hamburger.svg') no-repeat center

  &-checkbox
    display none
    &:checked
      & ~ .header
        background rgba(47, 53, 79, .9)
        .menu-open
          background-image url('../images/icon-close.svg') !important
        & .header-logo
          background-image url('../images/logo-bookmark-white.svg') !important
        & .menu
          visibility visible
          opacity 1

@media screen and (min-width 1024px)
  .menu
    visibility visible
    opacity 1
    position initial
    height auto
    background initial
    &-open
      display none
    a
      color var(--veryDarkBlue)
      border none
      font-size 1em
    ul
      display flex
      align-items center
      li
        border none
        &:last-child
          margin-left 2em
          a
            border none
            margin-top 0
            background var(--softRed)
            color white
            padding 0.7em 2em
            border-radius .5em














