.menu
  border 1px solid #445577
  display none
  position absolute
  top 100%
  background rgba(47, 53, 79, .9)
  &-checkbox
    display none
    &:checked
      & ~ .menu-open
        border 1px solid #ffffff
      & ~ .menu
        display block

  &-open
    border 1px solid #fa5757
    user-select none
    width 40px
    height 40px
    display inline-flex
    cursor pointer
    background url('../images/icon-hamburger.svg') no-repeat center








